### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Go Patch ###
# /vendor/
/Godeps/

# custom
server
worker
debug
pylint-server
pylint-worker
pylint-debug
data/reports/
*.db
.local/
secrets.txt
*.pem
.github/pylint/
.github/pylint.tar.gz

docker-compose.yml
pylint-configuration.yml

