PYLINTGO_PORT=4444
PYLINTGO_GITHUB_ADMINID=0
PYLINTGO_GITHUB_INTEGRATIONID=0
PYLINTGO_GITHUB_SECRET=0
PYLINTGO_GITHUB_KEYPATH=/keys/your-keyname.pem
PYLINTGO_DB_PATH=test.db
PYLINTGO_STATEURL=http://6f61f13b.ngrok.io/
PYLINTGO_NAME=PyLinter-Dev
